<div class="hero-container">
  <div class="overlay"></div>

  <!-- Conteúdo principal alinhado à esquerda -->
  <div class="hero-content">
    <h1>Meu caro Morcego 🦇</h1>
    <p>Em cada batida do meu coração, há um sussurro do teu nome. Às vezes parece exagero, mas é real: até no silêncio eu te escuto. 
      Meus dias têm o ritmo do teu nome, e meu peito, mesmo quando está quieto, carrega esse sentimento que só cresce.</p>
    <button (click)="verHistoria()">Ver nossa história 💌</button>
  </div>


  <div class="hero-card">
    <div class="music-player-container">
      <app-audio></app-audio>
    </div>
    <h2>...</h2>
    <p>....</p>
  </div>
</div>
