<section class="surpresas-container">
  <h2 class="titulo-surpresa">Pequenas surpresas, só nossas 🖤</h2>

  <button class="botao-surpresa" (click)="mostrarSegredo = !mostrarSegredo">
    {{ mostrarSegredo ? 'Fechar Segredo' : 'Clique e veja um segredo' }}
  </button>
  <div *ngIf="mostrarSegredo" class="segredo">
    <img src="/assets/segredo.jpg" alt="segredinho" />
    <p>Você é meu lugar seguro, até nas noites mais assustadoras. 🦇</p>
  </div>

  <button class="botao-surpresa" (click)="mostrarMemoria = !mostrarMemoria">
    {{ mostrarMemoria ? 'Esconder Memória' : 'Você lembra disso?' }}
  </button>
  <div *ngIf="mostrarMemoria" class="memoria">
    <img src="/assets/memoria.jpg" alt="nossa memória" />
    <p>Esse dia ficou gravado na minha alma. Ainda sinto aquele friozinho no coração. 🖤</p>
  </div>
</section>
